@model IEnumerable<Devs2Blu.ProjetosAula.RevisaoNoticas.Web.Models.Entities.Noticia>

@{
    ViewData["Title"] = "Principais Notícias";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Leia Sobre</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
